---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/orgs/github-login/members
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4970'
      X-Ratelimit-Reset:
      - '1579598475'
      Etag:
      - '"2ce787fff2dca58ff3a235be0ce2486f"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.everest-preview; format=json
    body:
      encoding: UTF-8
      string: '[{"login":"AMHOL","id":1582784,"node_id":"MDQ6VXNlcjE1ODI3ODQ=","avatar_url":"https://avatars1.githubusercontent.com/u/1582784?v=4","gravatar_id":"","url":"https://api.github.com/users/AMHOL","html_url":"https://github.com/AMHOL","followers_url":"https://api.github.com/users/AMHOL/followers","following_url":"https://api.github.com/users/AMHOL/following{/other_user}","gists_url":"https://api.github.com/users/AMHOL/gists{/gist_id}","starred_url":"https://api.github.com/users/AMHOL/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/AMHOL/subscriptions","organizations_url":"https://api.github.com/users/AMHOL/orgs","repos_url":"https://api.github.com/users/AMHOL/repos","events_url":"https://api.github.com/users/AMHOL/events{/privacy}","received_events_url":"https://api.github.com/users/AMHOL/received_events","type":"User","site_admin":false},{"login":"andrewcroome","id":3338621,"node_id":"MDQ6VXNlcjMzMzg2MjE=","avatar_url":"https://avatars0.githubusercontent.com/u/3338621?v=4","gravatar_id":"","url":"https://api.github.com/users/andrewcroome","html_url":"https://github.com/andrewcroome","followers_url":"https://api.github.com/users/andrewcroome/followers","following_url":"https://api.github.com/users/andrewcroome/following{/other_user}","gists_url":"https://api.github.com/users/andrewcroome/gists{/gist_id}","starred_url":"htt[...]
- request:
    method: get
    uri: https://api.github.com/users/AMHOL
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4969'
      X-Ratelimit-Reset:
      - '1579598474'
      Etag:
      - '"fdf39b400ba86a79c08251630fb05034"'
      Last-Modified:
      - Thu, 19 Dec 2019 00:49:20 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.everest-preview; format=json
    body:
      encoding: UTF-8
      string: '{"login":"AMHOL","id":1582784,"node_id":"MDQ6VXNlcjE1ODI3ODQ=","avatar_url":"https://avatars1.githubusercontent.com/u/1582784?v=4","gravatar_id":"","url":"https://api.github.com/users/AMHOL","html_url":"https://github.com/AMHOL","followers_url":"https://api.github.com/users/AMHOL/followers","following_url":"https://api.github.com/users/AMHOL/following{/other_user}","gists_url":"https://api.github.com/users/AMHOL/gists{/gist_id}","starred_url":"https://api.github.com/users/AMHOL/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/AMHOL/subscriptions","organizations_url":"https://api.github.com/users/AMHOL/orgs","repos_url":"https://api.github.com/users/AMHOL/repos","events_url":"https://api.github.com/users/AMHOL/events{/privacy}","received_events_url":"https://api.github.com/users/AMHOL/received_events","type":"User","site_admin":false,"name":"Andy
        Holland","company":null,"blog":"http://cv.droppages.com","location":"Perth,
        WA","email":"andyholland1991@aol.com","hireable":null,"bio":null,"public_repos":22,"public_gists":31,"followers":69,"following":33,"created_at":"2012-03-28T09:25:19Z","updated_at":"2019-12-19T00:49:20Z"}'
  recorded_at: Tue, 21 Jan 2020 08:37:57 GMT
- request:
    method: get
    uri: https://api.github.com/users/andrewcroome
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4968'
      X-Ratelimit-Reset:
      - '1579598475'
      Etag:
      - '"96dfd351ecb9e4b7fa6cbff31a387aad"'
      Last-Mo[...]
- request:
    method: get
    uri: https://api.github.com/users/baweaver
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4967'
      X-Ratelimit-Reset:
      - '1579598475'
      Etag:
      - '"bccd9c7112c25f9732bd8ba97d039858"'
      Last-Modifi[...]
- request:
    method: get
    uri: https://api.github.com/users/coop
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4966'
      X-Ratelimit-Reset:
      - '1579598474'
      Etag:
      - '"3d8919c5b4af3fa5add4e83ca6966848"'
      Last-Modified:
[...]
- request:
    method: get
    uri: https://api.github.com/users/davydovanton
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4965'
      X-Ratelimit-Reset:
      - '1579598475'
      Etag:
      - '"659b0e2f494475dd4cc829d31b99a5b4"'
      Last-Mo[...]
- request:
    method: get
    uri: https://api.github.com/users/dNitza
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4964'
      X-Ratelimit-Reset:
      - '1579598475'
      Etag:
      - '"0c71e2073659175687619bd6b0070052"'
      Last-Modified[...]
- request:
    method: get
    uri: https://api.github.com/users/dry-bot
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4963'
      X-Ratelimit-Reset:
      - '1579598474'
      Etag:
      - '"28e5ba4d7adb8858837b8d0f22b210ba"'
      Last-Modifie[...]
- request:
    method: get
    uri: https://api.github.com/users/flash-gordon
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4962'
      X-Ratelimit-Reset:
      - '1579598475'
      Etag:
      - '"a53348e3c1352cc5460c26188cd9e3d8"'
      Last-Mo[...]
- request:
    method: get
    uri: https://api.github.com/users/GustavoCaso
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4961'
      X-Ratelimit-Reset:
      - '1579598475'
      Etag:
      - '"80185676184c97c3710edbe8270bffbe"'
      Last-Mod[...]
- request:
    method: get
    uri: https://api.github.com/users/ianwhite
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4960'
      X-Ratelimit-Reset:
      - '1579598475'
      Etag:
      - '"c840eed8ebf4c774ad20038fcd5a96c8"'
      Last-Modifi[...]
- request:
    method: get
    uri: https://api.github.com/users/jeremyf
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4959'
      X-Ratelimit-Reset:
      - '1579598475'
      Etag:
      - '"ea7c5406a1c4e4d754216fc2b1053f2c"'
      Last-Modifie[...]
- request:
    method: get
    uri: https://api.github.com/users/jodosha
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4958'
      X-Ratelimit-Reset:
      - '1579598475'
      Etag:
      - '"9d69227b36e5e1af56a77e4d664025da"'
      Last-Modifie[...]
- request:
    method: get
    uri: https://api.github.com/users/marshall-lee
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4957'
      X-Ratelimit-Reset:
      - '1579598475'
      Etag:
      - '"e07a248b723bd5c33c04a8b0e323b4f0"'
      Last-Mo[...]
- request:
    method: get
    uri: https://api.github.com/users/Morozzzko
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4956'
      X-Ratelimit-Reset:
      - '1579598474'
      Etag:
      - '"4a7389acc0aed8a71b7923e786576a61"'
      Last-Modif[...]
- request:
    method: get
    uri: https://api.github.com/users/nepalez
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4955'
      X-Ratelimit-Reset:
      - '1579598475'
      Etag:
      - '"527312b3a7835ad93d5e1c1aa2b504cd"'
      Last-Modifie[...]
- request:
    method: get
    uri: https://api.github.com/users/rom-bot
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4954'
      X-Ratelimit-Reset:
      - '1579598475'
      Etag:
      - '"9627b370b3e0323aa72dcd1454042b7e"'
      Last-Modifie[...]
- request:
    method: get
    uri: https://api.github.com/users/skryukov
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4953'
      X-Ratelimit-Reset:
      - '1579598474'
      Etag:
      - '"da65cbe7bf725ec3b9fc7e18f43c3924"'
      Last-Modifi[...]
- request:
    method: get
    uri: https://api.github.com/users/solnic
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4952'
      X-Ratelimit-Reset:
      - '1579598475'
      Etag:
      - '"6f585dfb893d555d14cd1e42d9efc3a6"'
      Last-Modified[...]
- request:
    method: get
    uri: https://api.github.com/users/timriley
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4951'
      X-Ratelimit-Reset:
      - '1579598475'
      Etag:
      - '"6c984e741f7b65d813c94447a188325c"'
      Last-Modifi[...]
- request:
    method: get
    uri: https://api.github.com/users/waiting-for-dev
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4950'
      X-Ratelimit-Reset:
      - '1579598474'
      Etag:
      - '"1eb3ba6d186a1e26ae47f36d733f7dda"'
      Last[...]
