---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/dry-rb/dry-validation/git/ref/tags/v1.0.0
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1579561795'
      Etag:
      - '"9a41a87c1d681ef54e0a0ab1bb1cafa6"'
      Last-Modified:
      - Mon, 20 Jan 2020 21:44:12 GMT
      X-Poll-Interval:
      - '300'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.everest-preview; format=json
    body:
      encoding: UTF-8
      string: '{"ref":"refs/tags/v1.0.0","node_id":"MDM6UmVmMzk1MzI2MzE6djEuMC4w","url":"https://api.github.com/repos/dry-rb/dry-validation/git/refs/tags/v1.0.0","object":{"sha":"1158cfbcfa66a526ea4460cc7cfa340b6cd75997","type":"tag","url":"https://api.github.com/repos/dry-rb/dry-validation/git/tags/1158cfbcfa66a526ea4460cc7cfa340b6cd75997"}}'
  recorded_at: Mon, 20 Jan 2020 22:26:49 GMT
- request:
    method: get
    uri: https://api.github.com/repos/dry-rb/dry-validation/git/tags/1158cfbcfa66a526ea4460cc7cfa340b6cd75997
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1579561794'
      Etag:
      - '"db7899c1172a7922ee21939e21ec6050"'
      Last-Modified:
      - Mon, 20 Jan 2020 21:44:12 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.everest-preview; format=json
    body:
      encoding: UTF-8
      string: '{"node_id":"MDM6VGFnMzk1MzI2MzE6MTE1OGNmYmNmYTY2YTUyNmVhNDQ2MGNjN2NmYTM0MGI2Y2Q3NTk5Nw==","sha":"1158cfbcfa66a526ea4460cc7cfa340b6cd75997","url":"https://api.github.com/repos/dry-rb/dry-validation/git/tags/1158cfbcfa66a526ea4460cc7cfa340b6cd75997","tagger":{"name":"Piotr
        Solnica","email":"piotr_solnica@apple.com","date":"2019-06-10T07:53:36Z"},"object":{"sha":"92eebf7b02d2e6b387cc3c769c15e588e002dd69","type":"commit","url":"https://api.github.com/repos/dry-rb/dry-validation/git/commits/92eebf7b02d2e6b387cc3c769c15e588e002dd69"},"tag":"v1.0.0","message":"tag
        v1.0.0\n","verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}}'
  recorded_at: Mon, 20 Jan 2020 22:26:49 GMT
recorded_with: VCR 5.0.0
